<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
<!--    <div class="alert alert-danger" *ngIf="error">-->
<!--      <p>{{ error }}</p>-->
<!--    </div>-->
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">
          {{ loginMode ? 'Login' : 'Sign up' }}
        </button> |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Switch to {{ loginMode ? 'Sign up' : 'Login' }}</button>
      </div>
    </form>
  </div>
</div>